@model  ProyectoAgendaCultural.ViewModels.ArtistaEventoViewModel


@{
    ViewBag.Title = "EventoArtista";
}
<br />
<br />
<h2>Detalles de artista</h2>
@if (User.Identity.IsAuthenticated)
{
    if (User.IsInRole("Administrador"))
    {
        <p>
            @Html.ActionLink("Crear nuevo artista", "Create")
        </p>
    }
    else
    {
        <br/>
    }
}

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            @{Html.RenderPartial("_eventosArtista", Model.Artistas);}
            @{Html.RenderPartial("_topArtistas", Model.ListaArtistasTOPs);}
        </div>

        <div class="col-sm-8">

            @foreach (var item in Model.EventosDeArtistas)
            {
                <div class="row">
                    <a href="/Evento/Detalles/@item.Id_evento" style="color:black"><h2>@item.Nombre_evento</h2></a>
                    <h5>Fecha: @Html.DisplayFor(modelItem => item.Fecha_evento)</h5>
                    <div class="pull-right">
                        <img class="pull-right" src="~/Resources/ImagenesEventos/@item.Imagen" width="300" height="300">
                        <p>
                            @item.Descripcion
                        </p>
                    </div>
                </div>

                <div>
                    <hr style="border: 1px solid black">
                </div>

            }
        </div>

    </div>

</div>
