* {
    box-sizing: border-box;
}

body {
    background-color: #f1f1f1;
    padding: 20px;
    font-family: Arial;
    background-image: url("~/Resources/imag_barra/img_fondo.jpg");
}

/* Center website */
.main {
    max-width: 1000px;
    margin: auto;
}

h1 {
    font-size: 50px;
    word-break: break-all;
}

.fila {
    margin: 8px -16px;
}

    /* Add padding BETWEEN each column (if you want) */
    .fila,
    .fila > .columna_galeria {
        padding: 8px;
    }

/* Create four equal columns that floats next to each other */
.columna_galeria {
    float: left;
    width: 25%;
}

/* Clear floats after rows */
.fila:after {
    content: "";
    display: table;
    clear: both;
}

/* Content */
.content {
    background-color: white;
    padding: 10px;
    width: 100%;
    position: relative;
}

/*Estilo overlay */

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #00b5e4;
}


.content:hover .overlay {
    opacity: 1;
}



.texto_overlay {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    
}


.container_texto {
    width: 200px;
    height: 107px;
    text-size-adjust:auto;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
    .columna_galeria {
        width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .columna_galeria {
        width: 100%;
    }
}
